* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  background: #ffffff;
  color: #1a1a1a;
}

/* Main content */
.main {
  min-height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.card {
  text-align: center;
  max-width: 750px;
  width: 100%;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 25px;
}


.logo {
  width: 100%;
  max-width: 520px;
  height: 260px;
  margin: 0 auto 25px;
  background: #eee;
  border: 1px solid #d9d9d9;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Button */
.btn {
  display: inline-block;
  background: #f1e8d3;
  color: #000;
  text-decoration: none;
  padding: 14px 18px;
  min-width: 360px;
  font-size: 28px;
  border-radius: 8px;
  border: 1px solid #999;
}

.btn:hover {
  background: #eadfbe;
}

/* Sign up text */
.new-here {
  margin-top: 26px;
  font-size: 26px;
}

.new-here a {
  color: #000;
  text-decoration: underline;
}

/* Footer */
.footer {
  background: #fdfaf3;
  border-top: 2px solid #d9d9d9;
  padding: 25px 20px;
}

.footer-inner {
  max-width: 980px;
  margin: auto;
  text-align: center;
}

.contact-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.footer-contact {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.contact-item img {
  width: 22px;
  height: 22px;
}

.contact-item a {
  color: #000;
  text-decoration: underline;
}

copyright {
  font-size: 12px;
  font-family: Arial, sans-serif;
}
